body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #777;
    text-align: center;
    background: url("http://shopforclipart.com/images/vacation-graphics/27.jpg");
    background-size: 100%;
  }